server {
    listen 443 ssl;
    server_name ${ARIA2_DOMAIN};

    include /etc/nginx/conf.d/ssl.include;
    include /etc/nginx/conf.d/authelia-location.include;

    location / {
        proxy_pass http://aria2:8080;
        include /etc/nginx/conf.d/authelia-proxy.include;
        include /etc/nginx/conf.d/authelia-authrequest.include;
    }
}
