server {
    listen 443 ssl;
    server_name ${DUFS_DOMAIN};

    include /etc/nginx/conf.d/ssl.include;
    include /etc/nginx/conf.d/authelia-location.include;

    client_max_body_size 0;

    location / {
        proxy_pass http://dufs:5000;
        include /etc/nginx/conf.d/authelia-proxy.include;
        include /etc/nginx/conf.d/authelia-authrequest.include;
    }
}
